<div class = 'container'>
  <main class = 'col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content' role = 'main'>
    <h1>Editing Owner</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @owner %> |
    <%= link_to 'Back', owners_path %>
  </main>
</div>